@media (min-width: 768px) {
    html {
      font-size: 14px;
    }
    
    .header {
      &__nav {
        display: block; 
      }
      &__menu-toggle {
        display: none; 
      }
    }
  
    .menu {
      display: flex;
      flex-direction: row;
      &__item {
        margin: 0 1rem;
      }
    }
  }
  
  @media (min-width: 1024px) {
    html {
      font-size: 16px;
    }
    

  }
  