
@import 'variables';
@import 'header';
@import 'services';
@import 'video';
@import 'responsive';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: aqua;
  color: #333;
}


.home__section-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem;
}
main {
  padding: 2rem 0;
  background-color: rgb(150, 140, 140);
  color: $primary-black;
}
