// Home y bases de página
@import 'variables';
@import './home/header';
@import './home/discovere';
@import './home/hero';
@import './home/services';
@import './home/hero-video';
@import './home/swiper_rooms';
@import './home/core_white';
@import './home/projects_black';
@import './home/responsive';
@import './home/footer'; 
// About us
@import './about_us/core_black'; 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #222222;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Old Standard TT, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}
p {
  font-size: 14px;
  line-height: 24px;

}
/* Botones básicos */
.btn {
  padding: 0.75rem 2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn--gold {
  color: #fff;
  background-color: $primary-gold; 
}

.btn--gray {
  color: #fff;
  background-color: transparent; 
  border: 2px solid #FFFFFF54;     
}

