p {
    font-family: Archivo, sans-serif;
}
.core_white {
    background-color: #fff;
    padding: 6rem 2rem 6rem 2rem;
   
  
    &__container {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  
    &__subtitle {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        margin-bottom: 4rem;
        font-weight: 700;
        color: #777777;
    }
  
    &__title {
      font-weight: 700;
      margin-bottom: 5rem;
      color: #000;
    }
  
    &__swiper {
      width: 100%;
      position: relative;
    }
  
    &__features {

      display: flex;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
      }
    }
  
    &__feature-card {
      padding: 5rem 0em 2rem 1rem;
      position: relative;
      text-align: left;
      overflow: visible;
  
      /* Número en esquina superior derecha */
      .core_white__number {
        position: absolute;
        top: 0.5rem;
        right: 0rem;
        font-size: 6.2rem;
        color: #2222220A;
        font-weight: bold;
      }
  
      /* Icono grande centrado al inicio */
      .core_white__icon {
        display: block;
        width: 70px;
        height: 70px;
        margin-bottom: 2rem;
      }
  
      .core_white__card-title {
        font-size: 1.1rem;
        margin: 0 0 0.5rem;
      }
  
      .core_white__card-text {
        font-size: 0.85rem;
        line-height: 1.4;
        color: #777777;

      }
    }
  
    /* Paginación sólo en móvil */
    &__pagination {
      margin-top: 1.5rem;
      .swiper-pagination-bullet {
        background: #000;
        opacity: 0.3;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
      }
  
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  