.food_home {
  padding: 2rem 1rem;
  background: #fff;
  font-family: 'Old Standard TT', serif;
  color: #111;
  // width: 80%;
  margin: 0 auto;
  position: relative; /* Establece este section como el contenedor de referencia */
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 15rem;
    padding-left: 7rem;
    @media (max-width: 767px) {
      padding-left: 0rem; /* Reinicia el padding en móvil */
      // align-items: center; /* Centra los elementos en móvil */
    }
  }


  &__icon {
    position: absolute; /* Saca el icono del flujo normal */
    top: 0rem;       /* Ajusta la posición vertical */
    left: 2rem;
    width: 229px;
    height: 229px;
    margin-bottom: 1rem;
    background-image: url('../assets/icons/donut.svg');
    background-size: contain; /* Ajusta el tamaño de la imagen dentro del div */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen dentro del div */

    @media (max-width: 767px) {
      background-image: url('../assets/icons/donut_roto.svg');
      width: 200px;
      height: 200px;   

      left: auto;    
      right: -1.3rem;   
    }
  }

  &__controls {
    order: 2;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;

    @media (min-width: 768px) {
      order: 3;
      width: auto;
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  &__control {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;

    &--prev {
      background: #f0f0f0;
      color: #111;
    }
    &--next {
      background: #c8a96a;
      color: #fff;
    }
  }

  /* Swiper */
  &__swiper {
    width: 80%;
    margin-top: 2rem;

  }

  &__cards {
    // display: grid;
    // grid-template-columns: 1fr;
    gap: 1rem;
   

    // @media (min-width: 768px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
  }

  &__card {
    display: flex;
    gap: 1rem;
    background: #fafafa;
    margin-top: 0px !important; // ¡Evita márgenes negativos! que mete swiper

    align-items: flex-start;

    &-image {
      flex-shrink: 0;
      width: 120px;
      height: 120px;
    }
    &-content {
        padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-title {
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 0.25rem;
    }
    &-text {
      font-size: 0.85rem;
      color: #555;
      margin: 0;
    }
  }

  /* Pagination bullets */
  .swiper-pagination-bullet {
    background: #aaa;
    opacity: 1;
    &:hover { background: #555; }
  }
}

// .food_home__swiper .swiper-slide {
//     height: auto !important; /* ¡Usa !important con cuidado! */
//     margin:0 !important;
//   }