.home_images {
  &__inner {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
  }

  &__swiper {
    width: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
    display: block;
    border-radius: 0.5rem;
  }

  //  bullets dorados solo en móvil 
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;

    @media (min-width: 768px) {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
      background: $primary-gold;
      opacity: 0.4;
      transition: opacity 0.3s;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}
