.swiper_rooms {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 4rem;
    padding: 8rem 0rem 9rem 0rem;
    font-family: Old Standard TT, serif;
  
    &__subtitle {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
    }
    
    &__title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 4rem;
    }
    
    &__container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      position: relative; 
      
    }
    
    /* Cada slide se centra horizontalmente y permite overflow visible */
    &__slide {
      display: flex;
      justify-content: center;
      overflow: visible; 
    }
    
    &__image-container {
      width: 100%;
      max-width: 350px;
      position: relative;
      overflow: visible; 
      background-color: #f2f2f2; 
    }
    
    &__image {
      display: block;
      width: 100%;
      object-fit: cover;
      max-height: 250px;
    }
    
    /* Contenedor de los emoticonos, en la parte superior central */
    &__icons {
      position: absolute;
      top: 0; 
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      padding: 0.3rem 0.5rem; 
      display: flex;
      gap: 0.3rem;        
      font-size: 0.9rem;   
      z-index: 10; 
      border: #000 solid 1px;
    }
    &__icons img {
        width: 1.3rem; 
        height: 1.3rem; 
    
      }
    
    /* Bloque inferior de información de la habitación */
    &__info-box {
      position: absolute;
      bottom: -4rem;     
      left: 50%;
      transform: translateX(-50%);
      width: 90%;         
      background-color: #ffffff;
      border: #000 solid 1px;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
    }
    
    &__room-title {
      font-size: 1.5rem;

    }
    
    &__room-description {
      font-size: 0.85rem;
      color: #777777;
      font-family: Roboto, serif;
      margin: 0.25rem 0 0 0;
    }
    
    &__room-price {
      font-size: 1rem;
      font-family: Archivo, serif;
      color: $primary-gold;
      font-weight: 700;
    }
    
    /* Controles de navegación  */
    .swiper-button-prev,
    .swiper-button-next {
    --swiper-navigation-size: 20px;
      width: 45px; 
      height: 45px; 

    }
    
    .swiper-button-prev {
      background-color: #ffffff;
      color: #111111;
    }
    
    .swiper-button-next {
      background-color: $primary-gold;
      color: #FFFFFF;

    }
    
    // .swiper-pagination-bullet {
    //   background: #aaa;
    //   opacity: 1;
    //   &:hover {
    //     background: #555;
    //   }
    // }
  }
  
  /* Responsivo */
  @media (min-width: 768px) {
    .swiper_rooms {
      padding: 6rem 0rem 9rem 0rem;
      &__title {
        font-size: 2.5rem;
      }
    }
  }
  
  @media (min-width: 1024px) {
    .swiper_rooms {
      &__title {
        font-size: 3rem;
      }
    }
  }
  