.grid_rooms {
  /* Estilos generales para el contenedor padre si los necesitas */

  .swiperGri_rooms {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 4rem;
    padding: 8rem 0rem 9rem 0rem;
    font-family: Old Standard TT, serif;
    overflow-x: hidden;

    &__subtitle {
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      margin-bottom: 4rem;
      font-weight: 700;
      color: #777777;
    }

    &__title {
      margin-bottom: 4rem;
    }
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  &__wrapper {
    flex-wrap: nowrap; /* Asegura que los items no se envuelvan por defecto */
  }

  &__slide {
    display: flex;
    justify-content: center;
    overflow: visible;
  }

  &__pagination {
    position: absolute;
    bottom: 0; /* Ajusta la posición según necesites */
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__button-prev,
  &__button-next {
    --swiper-navigation-size: 14px;
    width: 45px;
    height: 45px;
  }

  &__button-prev {
    background-color: #bdb8b8;
    color: #111111;
  }

  &__button-next {
    background-color: $primary-gold;
    color: #ffffff;
  }

  /* Estilos específicos de los elementos dentro de cada slide */
  &__image-container {
    width: 100%;
    max-width: 350px;
    position: relative;
    overflow: visible;
    height: 250px;
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__icons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0.3rem 0.5rem;
    display: flex;
    gap: 0.3rem;
    font-size: 0.9rem;
    z-index: 10;
    border: #000 solid 1px;
  }
  &__icons img {
    width: 1.3rem;
    height: 1.3rem;
  }

  &__info-box {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: #ffffff;
    border: #000 solid 1px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  &__room-title {
    font-size: 1.5rem;
  }

  &__room-description {
    font-size: 0.85rem;
    color: #777777;
    font-family: Roboto, serif;
    margin: 0.25rem 0 0 0;
  }

  &__room-price {
    font-size: 1rem;
    font-family: Archivo, serif;
    color: $primary-gold;
    font-weight: 700;
  }
}

/* Responsivo (ajusta el ámbito según necesites) */
@media (min-width: 768px) {
  .grid_rooms  {
    padding: 6rem 0rem 9rem 0rem;
    &__title {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .grid_rooms {
    &__title {
      font-size: 3rem;
    }
  }
}